html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
body {
  background-color: #f6f6f6;
  padding-bottom: 50px;
  padding-top: 140px;
}

header, #subtitle {
background-color: #81BEF7;
}

header {
  min-height: 80px;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

header h1 {
  margin: 10px 0;
  font-size: 50px;
  line-height: 60px;
  font-weight: 100;
  text-rendering: auto;
}
.logo_img {
	top: 65px;
	right: 90px;
	width: 120px;
	height: 120px;
	position: absolute;
	border: 0;
	z-index: 100;
	background-image: none;
}
.content-nav {
  margin-top: 130px;
  width: 220px;
}

#subtitle {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
}
h2 {
  font-weight: 200;
  font-size: 26px;
  line-height: 30px;
  padding: 15px 0;
  margin: 0;
  color: #6E6E6E;
}
h2 strong {
  font-weight: 300;
}

header menu {
  margin: 20px 0 0;
  padding: 0;
  height: 40px;
}
header menu ul {
  margin: 0;
  padding: 0;
  float: right;
}
header menu li {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}
header menu li a {
  display: inline-block;
  height: 40px;
  font-size: 17px;
  line-height: 40px;
  padding: 0 20px;
  color: #f6f6f6;
}
header menu li a:hover {
  color: #f6f6f6;
  text-decoration: none;
}
header menu li a img {
  margin: 0;
  padding: 5px 0;
  vertical-align: bottom;
  width: 30px;
  height: 30px;
}

h3 {
  font-weight: 300;
  font-style: italic;
  color: #888;
  font-size: 20px;
  padding-top: 115px;
  margin-top: 0;
}

.content-nav {
  margin-top: 130px;
  width: 220px;
}


.content-nav {
  margin-top: 130px;
  width: 220px;
}

.row .logo {
  text-align: center;
  margin-top: 150px;
}

.row .bkg_sky {
   background-image: url ('./images/TB05101837.jpg');
}

.bs-callout-info {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left: 5px solid #5bc0de;
	border-radius: 3px;
}

.bs-callout-warning {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left: 5px solid #faebcc;
	border-radius: 3px;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-info>.panel-heading {
color: #31708f;
background-color: #d9edf7;
border-color: #bce8f1;
}


.panel-info>.panel-heading {
color: #31708f;
background-color: #d9edf7;
border-color: #bce8f1;
}
.panel-heading {
padding: 10px 15px;
border-bottom: 1px solid transparent;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}

.panel-title {
margin-top: 0;
margin-bottom: 0;
font-size: 16px;
color: inherit;
}

panel-body {
	margin-left:10px;
}

.table_support, tr, td  {
    border: 1px dashed black;
}

.ok_support {
    color: #00AA00;
}

.no_support {
    color: #AA0000;
}